
extends ./layout.pug

block title
  | Logs

block content
  h1.page-heading Logs
  script(src="/socket.io/socket.io.js")
  script
    | var socket = io();
    | socket.on('checkin', function(msg){ console.log(msg); });
  table.collapse.w-100
    thead
      tr
        th.px-md.py-sm.bb.bc-gray-lighter.gray-light.fw-1 Date
        th.px-md.py-sm.bb.bc-gray-lighter.gray-light.fw-1 Type
        th.px-md.py-sm.bb.bc-gray-lighter.gray-light.fw-1 Status
        th.px-md.py-sm.bb.bc-gray-lighter.gray-light.fw-1 Member Name
        th.px-md.py-sm.bb.bc-gray-lighter.gray-light.fw-1 RFID Card Number
    tbody
      for log in logs
        - date = log.timestamp ? new Date(log.timestamp) : ""
        tr.hov-bg-gray-lightest
          td.px-md.py-sm.bb.bc-gray-lighter.c-help(title=date)= date ? moment(date).fromNow() : ""
          td.px-md.py-sm.bb.bc-gray-lighter= log.level
          td.px-md.py-sm.bb.bc-gray-lighter= log.message
          td.px-md.py-sm.bb.bc-gray-lighter= log.card ? log.card.name : ""
          td.px-md.py-sm.bb.bc-gray-lighter= log.card ? "****"+parseInt(log.card.number, 10).toString().slice(-3) : ""
